$card-border-radius: 15px;

@mixin border-radius($radius) {
	border-radius: $radius;
	@include media-breakpoint-down(md) {
		border-radius: $radius / 3;
	}
}

.card-container, .card, .card .side {
	width: 100%;
	height: 100%;
}
.card-container {
	cursor: pointer;
	perspective: 600px;
}
.card {
	border-radius: 15px;
	position: relative;
	transition: transform .8s, box-shadow .3s, border-color .3s;
	transform-style: preserve-3d;
	box-shadow: 0 0 3px rgba(black, .15);
	border: 2px solid #bababa;

	.side {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include border-radius($card-border-radius - 2);
	}
	.front {
	}
	.back {
		transform: rotateY(180deg);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(45deg, #1fa5ff 25%, #1053ff 25%, #1053ff 50%, #1fa5ff 50%, #1fa5ff 75%, #1053ff 75%, #1053ff 100%);
		background-size: 56px 56px;
		&::before, &::after {
			@include border-radius($card-border-radius - 2);
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(#20E4A4, #2CC9CC);
			opacity: .8;
		}
		&::after {
			opacity: 0;
			transition: opacity $animation-duration * 2;
		}
	}
}
.card-container:hover .card {
	border: 2px solid $accent-color;
	box-shadow: 0 0 10px rgba($accent-color, .6);

	.back::after {
		opacity: .5;
	}
}
.card-container:hover .card.flipped {
	border: 2px solid darken($accent-color, 5%);
}

.card.flipped {
	border: 2px solid darken($accent-color, 10%);
	transform: rotateY(180deg);
}