@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font: 400 18px 'Titillium Web', sans-serif;
  /* background: #1e3c72; */
  /* background: -webkit-linear-gradient(to bottom, #2a5298, #1e3c72);  */
  /* background: linear-gradient(to bottom, #2a5298, #1e3c72); */
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 18px 'Titillium Web', sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  min-height: 140px;
  resize: vertical;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.button {
  height: 100%;
  width: 100%;
  background: hsl(351, 75%, 51%);
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%);
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link svg {
  margin-right: 8px;
}

.back-link {
  opacity: 0.8;
}